/* Screen sizes */
$screen-width-mobile: 320px;
$screen-width-tablet: 768px;
$screen-width-desktop: 960px;

$screen-widths: (
  mobile: $screen-width-mobile,
  tablet: $screen-width-tablet,
);


@mixin breakpoint($class) {
    @if $class==mobile {
      @media (min-width: $screen-width-mobile) {
        @content;
      }
    } @else if $class==tablet {
      @media (min-width: $screen-width-tablet) {
        @content;
      }
    } @else if $class==desktop {
      @media (min-width: $screen-width-tablet + 1) {
        @content;
      }
    } @else {
      @warn "Breakpoint mixin supports: small-mobile, mobile, tablet, desktop, desktop-large";
    }
  }